<div class="row">
  <h3 class="box-title">
    <div class="col-md-2">
      <button class="btn btn-block bg-theme waves-effect waves-light" id="addModal" style="color:white;">
        <i class="fa fa-plus m-r-5"></i> Add Employee
      </button>
    </div>
  </h3>
  <br /><br />

  <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
    <table id="datatable" class="table table-striped" role="grid" aria-describedby="datatable_info">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Employment Type</th>
          <th>Address</th>
          <th>Employment Date</th>
          <th>Regularization Date</th>
          <th>Rate</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>

<!-- /.modal -->
<div id="formModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Form</h4>
        </div>
        <div class="modal-body">
          <!--Hidden Inputs-->
          <div class="form-group has-feedback">
            <input type="hidden" class="form-control" required name="modifyId" value="">
          </div>
          <div class="form-group has-feedback">
            <input type="hidden" class="form-control" required name="formAction" value="add">
          </div>
          <!--Hidden Inputs-->

          <!-- First Name -->
          <div class="form-group">
            <label for="first_name">First Name</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-user"></i></div>
              <input type="text" class="form-control" required name="first_name">
            </div>
          </div>
          <!-- Middle Name -->
          <div class="form-group">
            <label for="middle_name">Middle Name</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-user"></i></div>
              <input type="text" class="form-control" name="middle_name">
            </div>
          </div>
          <!-- Last Name -->
          <div class="form-group">
            <label for="last_name">Last Name</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-user"></i></div>
              <input type="text" class="form-control" required name="last_name">
            </div>
          </div>
          <!-- City -->
          <div class="form-group">
            <label for="city">Address</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-home"></i></div>
              <input type="text" class="form-control" required name="city">
            </div>
          </div>
          <!-- Province -->
          <div class="form-group">
            <label for="province">City / Province</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-home"></i></div>
              <input type="text" class="form-control" required name="province">
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <!-- Employment Date -->
              <div class="form-group">
                <label for="employment_date">Employment Date</label>
                <div class="input-group">
                  <div class="input-group-addon"><i class="ti-calendar"></i></div>
                  <input type="date" class="form-control" required name="employment_date">
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <!-- Regularization Date -->
              <div class="form-group">
                <label for="regularization_date">Regularization Date</label>
                <div class="input-group">
                  <div class="input-group-addon"><i class="ti-calendar"></i></div>
                  <input type="date" class="form-control" required name="regularization_date">
                </div>
              </div>
            </div>

            <div class="col-md-6">
              
              <div class="form-group">
                <label for="rate">Employment Type</label>
                <div class="input-group">
                  <div class="input-group-addon"><i class="ti-money"></i></div>
                  <select class="form-control" required name="employment_type">
                      <option>OFFICE STAFF</option>
                      <option>SERVICE CREW</option>
                      <option>COMMISSARY OFFICER</option>
                      <option>ADMIN - ACCOUNTING</option>
                      <option>SALES AND MARKETING OFFICER</option>
                      <option>INVOICING OFFICER</option>
                      <option>ADMIN STAFF / TRAINOR</option>
                      <option>OPERATION MANAGER</option>
                      <option>TRAINOR / TEAM LEADER</option>
                      <option>DIGITAL MARKETING</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="col-md-6">
               <!-- Rate -->
              <div class="form-group">
                <label for="rate">Rate</label>
                <div class="input-group">
                  <div class="input-group-addon"><i class="ti-money"></i></div>
                  <input type="number" class="form-control" required name="rate">
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger waves-effect waves-light" id="deleteButton">Delete</button>
          <button type="submit" class="btn btn-primary waves-effect waves-light">Save
            Changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Button trigger modal -->