<div class="row">
  <div class="col-md-12">
    <h3>Return Request Approval</h3>
    <hr />
    <div class="table-responsive">
      <table id="datatable" class="table table-striped" role="grid" aria-describedby="datatable_info">
        <caption>Return Requests</caption>
        <thead>
          <tr>
            <th>ID</th>
            <th>ORDER REF NO</th>
            <th>RETURN REF NO</th>
            <th>FRANCHISEE</th>
            <th>STATUS</th>
            <th>DATE TIME</th>
            <th>REMARKS</th>
            <th>ACTION</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</div>

<div id="returnPOModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  style="display: none;">
  <div class="modal-dialog modal-lg" style="width: 70%">
    <div class="modal-content">
      <form id="poForm">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Return Reference # <b id="return_ref_no"></b></h4>
        </div>
        <div class="modal-body">
          <!--Hidden Inputs-->
          <div class="form-group has-feedback">
            <input type="hidden" class="form-control" required name="modifyId" value="">
          </div>
          <div class="form-group has-feedback">
            <input type="hidden" class="form-control" required name="formAction" value="add">
          </div>
          <div class="form-group has-feedback">
            <input type="hidden" class="form-control" required name="purchase_order_id">
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
                <table id="returnItemsTable" class="table table-striped" role="grid" aria-describedby="datatable_info">
                  <caption>Items intended to return</caption>
                  <thead>
                    <tr>
                      <th>Item</th>
                      <th>Qty</th>
                      <th>Cost</th>
                      <th>Total Amount</th>
                    </tr>
                  </thead>
                  <tbody></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger waves-effect" onclick="approveReturn('REJECTED')" style="float:left;">REJECT</button>
          <button type="button" class="btn btn-info waves-effect" onclick="printDR()">PRINT DR</button>
          <button type="button" class="btn btn-success waves-effect" onclick="approveReturn('APPROVED')">APPROVED RETURN</button>
        </div>
      </form>
    </div>
  </div>
</div>