<div class="row">
  <div class="col-lg-3 col-sm-6 col-xs-12">
    <div class="white-box bg-theme">
      <h3 class="box-title" style="color:white">No of Orders</h3>
      <ul class="list-inline two-part">
        <li><i class="icon-folder" style="color:white"></i></li>
        <li class="text-center">
          <a href="./?order_tracker"><span class="counter" id="no_of_orders" style="color:white">0</span></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6 col-xs-12">
    <div class="white-box bg-theme">
      <h3 class="box-title" style="color:white">No of Billing Payments</h3>
      <ul class="list-inline two-part">
        <li><i class="ti-wallet" style="color:white"></i></li>
        <li class="text-center">
          <a href="./?billing_payments"><span class="counter" id="no_of_billing_payments" style="color:white">0</span></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6 col-xs-12">
    <div class="white-box bg-theme">
      <h3 class="box-title" style="color:white">No of Order Payments</h3>
      <ul class="list-inline two-part">
        <li><i class="ti-wallet" style="color:white"></i></li>
        <li class="text-center">
          <a href="./?order_payments"><span class="counter" id="no_of_order_payments" style="color:white">0</span></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6 col-xs-12">
    <div class="white-box bg-theme">
      <h3 class="box-title" style="color:white">No of Franchise</h3>
      <ul class="list-inline two-part">
        <li><i class="icon-location-pin" style="color:white"></i></li>
        <li class="text-center">
          <a href="./?franchise_entries"><span class="counter" id="no_of_franchise" style="color:white">0</span></a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">

    <div class="col-lg-6 table-responsive">
      <table id="balancesDatatable" class="table table-striped" role="grid" aria-describedby="datatable_info">
        <caption>
          <h4>Franchise Balances</h4>
        </caption>
        <thead>
          <tr>
            <th>Franchise Owner</th>
            <th>Billing Bal.</th>
            <th>Order Bal.</th>
            <th>Total Amount</th>
            <th>Last Payment Amt</th>
            <th>Last Payment Date</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>

    <div class="col-lg-6 table-responsive">
      <table id="expirationDatatable" class="table table-striped" role="grid" aria-describedby="datatable_info">
        <caption>
          <h4>Franchise that will expire within next 3 Months</h4>
        </caption>
        <thead>
          <tr>
            <th>Franchise Owner</th>
            <th>Expiration Date</th>
            <th>Renew</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>

  </div>
</div>

<!-- /.modal -->
<div id="formModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Renewal Form</h4>
        </div>
        <input type="hidden" name="id" value="" id="id">
        <div class="modal-body">
          <div class="form-group">
            <label for="description">Renewal Date</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-calendar"></i></div>
              <input type="date" class="form-control" required="required" name="renewed_date" onchange="addYear()">
            </div>
          </div>

          <div class="form-group">
            <label for="description">New Expiry Date</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-calendar"></i></div>
              <input type="date" class="form-control" required="required" name="new_expiry_date" id="new_expiry_date">
            </div>
          </div>

          <div class="form-group">
            <label for="location">Status</label>
            <div class="input-group">
              <div class="input-group-addon"></div>
              <select class="form-control" required name="status">
                <option>APPROVED</option>
              </select>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger waves-effect waves-light">RENEW FRANCHISE</button>
        </div>
      </form>
    </div>
  </div>
</div>