<div class="row">
  <h3 class="box-title">
    <div class="col-md-2">
      <button class="btn btn-block bg-theme waves-effect waves-light" id="addModal" style="color:white;">
        <i class="fa fa-plus m-r-5"></i> Add Franchisee
      </button>
    </div>

    <br /><br />
  </h3>
  <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
    <table id="datatable" class="table table-striped" role="grid" aria-describedby="datatable_info">
      <thead>
        <tr>
          <th>ID</th>
          <th>BRANCH CODE</th>
          <th>MODE OF TRANSACTION</th>
          <th>NAME</th>
          <th>ADDRESS</th>
          <th>CONTACT</th>
          <th>BIRTHDAY</th>
          <th>TIN</th>
          <th>PACKAGE TYPE</th>
          <th>CONTRACT SIGNING</th>
          <th>OPENING</th>
          <th>EXPIRY</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>

<!-- /.modal -->
<div id="formModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  style="display: none;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Franchisee Form</h4>
        </div>
        <div class="modal-body">
          <!--Hidden Inputs-->
          <div class="form-group has-feedback">
            <input type="hidden" class="form-control" required name="modifyId" value="">
          </div>
          <div class="form-group has-feedback">
            <input type="hidden" class="form-control" required name="formAction" value="add">
          </div>
          <!--Hidden Inputs-->

          <!-- Branch Code -->
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Branch</label>
                <select id="branch_id" class="form-control" name="branch_id">
                </select>
              </div>
            </div>
            <!-- Mode of Transaction -->
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Mode of Transaction</label>
                <select class="form-control" name="mode_of_transaction" onchange="changeDelivery(this.value)">
                  <option value="Pick-up">Pick-up</option>
                  <option value="Delivery">Delivery</option>
                </select>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Special Price Tag</label>
                <select class="form-control" name="special_price_tag">
                  <option>NO</option>
                  <option>YES</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Delivery Charge</label>
                <div class="input-group">
                  <div class="input-group-addon"><i class="ti-money"></i></div>
                  <input type="number" name="delivery_charge" id="delivery_charge" class="form-control" value="0">
                </div>
              </div>
            </div>
          </div>
        
          <!-- FRANCHISEE -->
          <h3 class="box-title">FRANCHISE</h3>
          <hr>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Name</label>
                <div class="input-group">
                  <div class="input-group-addon"><i class="ti-user"></i></div>
                  <input type="text" name="name" class="form-control">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Address</label>
                <div class="input-group">
                  <div class="input-group-addon"><i class="ti-home"></i></div>
                  <input type="text" name="address" class="form-control">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Contact</label>
                <div class="input-group">
                  <div class="input-group-addon"><i class="ti-calendar"></i></div>
                  <input type="number" name="contactno" class="form-control">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Birthday</label>
                <div class="input-group">
                  <div class="input-group-addon"><i class="ti-calendar"></i></div>

                  <input type="date" name="birthday" class="form-control">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">TIN</label>
                <div class="input-group">
                  <div class="input-group-addon"><i class="ti-user"></i></div>
                  <input type="number" name="tin_number" class="form-control">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <!-- Package Type -->
              <div class="form-group">
                <label for="package_type">Package Type</label>
                <div class="input-group">
                  <div class="input-group-addon"><i class="ti-folder"></i></div>
                  <select class="form-control" name="package_type" id="package_type">
                  </select>
                </div>
              </div>
            </div>
          </div>
          <!-- DATE OF -->
          <h3 class="box-title">DATE OF</h3>
          <hr>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">Contract Signing</label>
                <input type="date" name="date_contract_signing" class="form-control">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">Opening</label>
                <input type="date" name="date_branch_opening" id="date_branch_opening" class="form-control" onchange="addYear()">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">Expiry</label>
                <input type="date" name="date_contract_expiry" id="date_contract_expiry" class="form-control" readonly>
              </div>
            </div>
          </div>

          <!-- <h3 class="box-title">BALANCES</h3>
          <hr>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Billing Balance</label>
                <div class="input-group">
                  <div class="input-group-addon"><i class="ti-money"></i></div>
                  <input type="number" name="billing_balance" class="form-control">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Order Balance</label>
                <div class="input-group">
                  <div class="input-group-addon"><i class="ti-money"></i></div>
                  <input type="number" name="order_balance" class="form-control">
                </div>
              </div>
            </div>
          </div> -->

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger waves-effect waves-light" id="deleteButton">Delete</button>
          <button type="submit" class="btn btn-primary waves-effect waves-light">Save
            Changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Button trigger modal -->