<div class="row">

  <div class="col-md-3">
    <label>Input Purchase Order Number</label>
    <div class="input-group m-b-30">
      <input class="form-control" placeholder="Search for..." id="po_number">
      <span class="input-group-btn">
        <button class="btn btn-info" type="button" id="addModal">Add Payment</button>
        <button class="btn btn-warning" type="button" onclick="view()">View</button>
      </span>
    </div>
    <br /><br />
  </div>

  <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
    <table id="datatable" class="table table-striped" role="grid" aria-describedby="datatable_info">
      <thead>
        <tr>
          <th>ID</th>
          <th>PO Number</th>
          <th>Total Amount</th>
          <th>Remarks</th>
          <th>Date Paid</th>
          <th>Added By</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
    <h2 id="total_amount_paid">Total Amount Paid : Php 0.00</h2>
  </div>

</div>

<!-- /.modal -->
<div id="formModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Add Purchase Order Payments</h4>
        </div>
        <div class="modal-body">
          <!--Hidden Inputs-->
          <div class="form-group has-feedback">
            <input type="hidden" class="form-control" required name="modifyId" value="">
          </div>
          <div class="form-group has-feedback">
            <input type="hidden" class="form-control" required name="formAction" value="add">
          </div>
          <!--Hidden Inputs-->


          <div class="form-group">
            <label for="branch_name">Total Amount</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-money"></i></div>
              <input type="number" class="form-control" required name="amount">
            </div>
          </div>

          <div class="form-group">
            <label for="branch_name">Date Paid</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-calendar"></i></div>
              <input type="date" class="form-control" required name="date_paid">
            </div>
          </div>
          <div class="form-group">
            <label for="branch_name">Check No.</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-card"></i></div>
              <input type="number" class="form-control" name="check_no">
            </div>
          </div>
          <div class="form-group">
            <label for="branch_name">Check Details</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-card"></i></div>
              <input type="text" class="form-control" name="check_details">
            </div>
          </div>
          <div class="form-group">
            <label for="branch_name">Bank</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-bank"></i></div>
              <input type="text" class="form-control" name="bank">
            </div>
          </div>

          <div class="form-group">
            <label for="branch_name">Remarks</label>
            <div class="input-group">
              <div class="input-group-addon"></div>
              <textarea class="form-control" name="remarks"></textarea>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger waves-effect waves-light" id="deleteButton">Delete</button>
          <button type="submit" class="btn btn-primary waves-effect waves-light">Save
            Changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Button trigger modal -->


<div id="imageModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  style="display: none;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Receipt Image</h4>
        </div>
        <div class="modal-body">

          <img src="plugins/images/no-item.png" alt="NO-IMAGE" id="receipt-image" style="width: 100%;">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger waves-effect waves-light" style="float:left"
            onclick="easyChangeStatus('REJECTED')">REJECT</button>
          <button type="button" class="btn btn-primary waves-effect waves-light"
            onclick="easyChangeStatus('APPROVED')">APPROVE</button>
        </div>
      </form>
    </div>
  </div>
</div>