<div class="row">
  <h3 class="box-title">
    <div class="col-md-2">
      <div class="btn-group dropdown">
        <button aria-expanded="false" data-toggle="dropdown"
          class="btn bg-theme dropdown-toggle waves-effect waves-light" type="button"
          style="color:white;">Menu&nbsp;<span class="caret"></span></button>
        <ul role="menu" class="dropdown-menu animated">
          <li><a href="#" id="addModal">Add Billing to Franchise</a></li>
          <li><a href="#" onclick="viewPaid()">View Paid</a></li>
          <li><a href="#" onclick="viewUnPaid()">View UnPaid</a></li>
          <li><a href="#" onclick="viewAll()">View All</a></li>
        </ul>
      </div>
    </div>

    <br /><br />
  </h3>
  <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
    <table id="datatable" class="table table-striped" role="grid" aria-describedby="datatable_info">
      <thead>
        <tr>
          <th>ID</th>
          <th>Franchisee Name</th>
          <th>Payment</th>
          <th>Total Amount</th>
          <th>Status</th>
          <th>OR</th>
          <th>INV</th>
          <th>Added by</th>
          <th>Date Time</th>
          <th>Remarks</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>

</div>

<!-- /.modal -->
<div id="formModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Add Billing To Franchise</h4>
        </div>
        <div class="modal-body">
          <!--Hidden Inputs-->
          <div class="form-group has-feedback">
            <input type="hidden" class="form-control" required name="modifyId" value="">
          </div>
          <div class="form-group has-feedback">
            <input type="hidden" class="form-control" required name="formAction" value="add">
          </div>
          <!--Hidden Inputs-->

          <div class="form-group">
            <label for="branch_name">Franchise Name</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-user"></i></div>
              <select class="form-control" required name="franchise_id" id="franchise_id">
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="branch_name">Total Amount</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-money"></i></div>
              <input type="number" class="form-control" required name="total_amount">
            </div>
          </div>

          <div class="form-group">
            <label for="branch_name">OR #</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-money"></i></div>
              <input type="number" class="form-control" name="or_number">
            </div>
          </div>

          <div class="form-group">
            <label for="branch_name">INV #</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-money"></i></div>
              <input type="number" class="form-control" name="invoice_number">
            </div>
          </div>

          <div class="form-group">
            <label for="location">Payment Description</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-money"></i></div>
              <select class="form-control" required name="description">
                <option>FRANCHISING FEE</option>
                <option>OTHER FRANCHISING INCLUSION</option>
                <option>SECURITY DEPOSITS</option>
                <option>ROYALTY FEE</option>
                <option>SYSTEM WIDE AD FUND</option>
                <option>UPGRADE (Product Variety)</option>
              </select>
            </div>
          </div>


          <div class="form-group">
            <label for="branch_name">Remarks</label>
            <div class="input-group">
              <div class="input-group-addon"></div>
              <textarea class="form-control" name="remarks"></textarea>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger waves-effect waves-light" id="deleteButton">Delete</button>
          <button type="submit" class="btn btn-primary waves-effect waves-light">Save
            Changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Button trigger modal -->