<div class="row">

  <div class="el-element-overlay m-b-40">
    <!-- /.usercard -->
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <div class="white-box">
        <div class="el-card-item">
          <div class="el-card-avatar el-overlay-1"> <img src="plugins/images/no-user.png" id="profile_pic"/>
            <div class="el-overlay">
              <ul class="el-info">
                <li><a title="VIEW PROFILE" class="btn default btn-outline image-popup-vertical-fit"
                    href="plugins/images/no-user.png" id="profile_pic_href"><i class="icon-magnifier"></i></a></li>
                <li><a title="EDIT PROFILE" onclick="editProfile()" class="btn default btn-outline"
                    href="javascript:void(0);"><i class="icon-link"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="el-card-content">
            <h4 class="box-title">
              <label id="first_name">Juan</label>
              <label id="middle_name">Dela</label>
              <label id="last_name">Cruz</label>
            </h4>
            <small id="role"></small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-xs-12">
      <div class="white-box">
        <ul class="nav nav-tabs tabs customtab">
          <li class="active tab">
            <a href="#settings" data-toggle="tab" aria-expanded="false">
              <span class="visible-xs">
                <i class="fa fa-cog"></i>
              </span>
              <span class="hidden-xs">Settings</span>
            </a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="settings">
            <form id="settingsSubmit" class="form-horizontal form-material">
              <div class="form-group">
                <label for="example-email" class="col-md-12">Email</label>
                <div class="col-md-12">
                  <input type="email" required id="email" name="email" class="form-control form-control-line"
                    name="example-email" id="example-email">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-12">Username</label>
                <div class="col-md-12">
                  <input type="text" required name="username" id="username"
                    class="form-control form-control-line">
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-12">Password</label>
                <div class="col-md-12">
                  <input type="password" required name="oldPassword" class="form-control form-control-line">
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-12">New Password</label>
                <div class="col-md-12">
                  <input type="password" name="newPassword" class="form-control form-control-line">
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-12">Confirm Password</label>
                <div class="col-md-12">
                  <input type="password" name="confirmPassword" class="form-control form-control-line">
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-12">
                  <button class="btn btn-success pull-right">Update Settings</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="formModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <form id="imageSubmit">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">Update Your Profile Photo</h4>
          </div>
          <div class="modal-body">
            <!--Hidden Inputs-->
            <div class="form-group has-feedback">
              <input type="hidden" class="form-control" required="required" name="modifyId" value="">
            </div>
            <div class="form-group has-feedback">
              <input type="hidden" class="form-control" required="required" name="formAction" value="add">
            </div>
            <!--Hidden Inputs-->

            <div class="form-group">
              <label for="Address">Select Image</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="ti-home"></i>
                </div>
                <input type="file" class="form-control" required="required" id="image_file" name="image_file" >
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary waves-effect waves-light" onclick="saveImage()">Apply</button>
          </div>
        </form>
      </div>
    </div>
  </div>