<div class="row">
  <h3 class="box-title">
    <div class="col-md-2">
      <div class="btn-group dropdown">
        <button aria-expanded="false" data-toggle="dropdown"
          class="btn bg-theme dropdown-toggle waves-effect waves-light" type="button" style="color:white;">Menu&nbsp;<span
            class="caret"></span></button>
        <ul role="menu" class="dropdown-menu animated">
          <li><a href="#" id="addModal">Add Expense</a></li>
          <li><a href="#" onclick="viewOperational()">View Operational Expenses</a></li>
          <li><a href="#" onclick="viewNonOperational()">View Non-Operational Expenses</a></li>
          <li><a href="#" onclick="viewAll()">View All</a></li>
        </ul>
      </div>
    </div>

    <br /><br />
  </h3>
    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
      <table id="datatable" class="table table-striped" role="grid" aria-describedby="datatable_info">
        <thead>
          <tr>
            <th>ID</th>
            <!-- <th>Receipt Image</th> -->
            <th>Date</th>
            <th>Expense Type</th>
            <th>Voucher</th>
            <th>Category</th>
            <th>Sub - Category</th>
            <th>Total Amount</th>
            <th>Added By</th>
            <th>Remarks</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  
</div>

<!-- /.modal -->
<div id="formModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Add Expenses</h4>
        </div>
        <div class="modal-body">
          <!--Hidden Inputs-->
          <div class="form-group has-feedback">
            <input type="hidden" class="form-control" required name="modifyId" value="">
          </div>
          <div class="form-group has-feedback">
            <input type="hidden" class="form-control" required name="formAction" value="add">
          </div>
          <!--Hidden Inputs-->

          <!-- Date Paid -->
          <div class="form-group">
            <label for="branch_name">Date</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-calendar"></i></div>
              <input type="date" class="form-control" required name="date_paid">
            </div>
          </div>
         
            <!-- Expense Type -->
          <div class="form-group">
            <label for="expense_type">Expense Type</label>
            <div class="input-group">
              <div class="input-group-addon"></div>
              <select class="form-control expense_type" required name="expense_type">
                <option selected disabled>Select Expense Type</option>
                <option value="Non-Operational">Non-Operational</option>
                <option value="Operational">Operational</option>
              </select>
            </div>
          </div>
          <!-- Voucher Number -->
          <div class="form-group">
            <label for="voucher_number">Voucher Number</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-money"></i></div>
              <input type="number" class="form-control" required name="voucher_number">
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <!-- Category -->
              <div class="form-group">
                <label for="category">Category</label>
                <div class="input-group">
                  <div class="input-group-addon"></div>
                  <select class="form-control category" id="category" required name="category">
                  </select>
                </div>
              </div>
            </div>
              <!-- Sub Category -->
            <div class="col-md-6">
              <div class="form-group">
                <label for="sub_category">Sub - Category</label>
                <div class="input-group">
                  <div class="input-group-addon"></div>
                  <select class="form-control sub_category" id="sub_category"  name="sub_category">
                  </select>
                </div>
              </div>
            </div>
          </div>
          <!-- Total Amount -->
          <div class="form-group">
            <label for="total_amount">Total Amount</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-money"></i></div>
              <input type="number" class="form-control" required name="total_amount">
            </div>
          </div>
          <!-- Remarks -->
          <div class="form-group">
            <label for="remarks">Remarks</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-calendar"></i></div>
              <textarea class="form-control" name="remarks"></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger waves-effect waves-light" id="deleteButton">Delete</button>
          <button type="submit" class="btn btn-primary waves-effect waves-light">Save
            Changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
