<div class="row">
    <h3 class="box-title">
        <div class="col-md-2">
            <div class="btn-group dropdown">
                <button style="color:white;" aria-expanded="false" data-toggle="dropdown" class="btn bg-theme dropdown-toggle waves-effect waves-light" type="button">Menu&nbsp;<span class="caret"></span></button>
                <ul role="menu" class="dropdown-menu animated">
                    <li><a href="#" id="addModal">Add Product</a></li>
                    <li><a href="#" onclick="viewFood()">View Food </a></li>
                    <li><a href="#" onclick="viewNonFood()">View Non Food</a></li>
                    <li><a href="#" onclick="viewOthers()">View Others</a></li>
                    <li><a href="#" onclick="viewAll()">View All </a></li>
                </ul>
            </div>
        </div>
    </h3>
    <br /><br />
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="table-responsive">
            <table id="datatable" class="table table-striped" role="grid" aria-describedby="datatable_info">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Code</th>
                        <th>Image</th>
                        <th>Supplier</th>
                        <th>Name</th>
                        <th>Cost</th>
                        <th>Price</th>
                        <th>Category</th>
                        <th>Stocks</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<!-- /.modal -->
<div id="formModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Product Information</h4>
                </div>
                <div class="modal-body">
                    <!--Hidden Inputs-->
                    <div class="form-group has-feedback">
                        <input type="hidden" class="form-control" required name="modifyId" value="">
                    </div>
                    <div class="form-group has-feedback">
                        <input type="hidden" class="form-control" required name="formAction" value="add">
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Supplier</label>
                                <select class="form-control" name="supplier_id" id="supplier_id" required>
                                </select>
                              </div>
                        </div>

                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="Username">
                                    Name
                                </label>
                                <input type="text" class="form-control" required id="description" name="description">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Username">
                                    Product Image
                                </label>
                                <input type="file" class="form-control" id="image_file" name="image_file">
                            </div>
                        </div>
                       
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Username">
                                    Cost
                                </label>
                                <input type="text" class="form-control" required id="cost" name="cost">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Username">
                                    Price
                                </label>
                                <input type="text" class="form-control" required id="price" name="price">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Username">
                                    Category
                                </label>
                                <select class="form-control" required id="category" name="category">
                                    <option>FOOD</option>
                                    <option>NON FOOD</option>
                                    <option>OTHERS</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Username">
                                    Order Count
                                </label>
                                <input type="number" class="form-control" required id="order_count" name="order_count" value="1">
                    
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Username">
                                    UOM
                                </label>
                                <input type="text" class="form-control" required id="uom" name="uom" value="PC">
                    
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger waves-effect waves-light"
                        id="deleteButton">Delete</button>
                    <button type="submit" class="btn btn-primary waves-effect waves-light">Save
                        Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Button trigger modal -->

<!--Inventory Modal-->
<div id="inventoryModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Product Journal</h4>
                </div>
                <div class="modal-body">
                    <!--Hidden Inputs-->
                    <div class="form-group has-feedback">
                        <input type="hidden" class="form-control" required name="modifyId" value="">
                    </div>
                    <div class="form-group has-feedback">
                        <input type="hidden" class="form-control" required name="formAction" value="add">
                    </div>
                    <!--Hidden Inputs-->
                    <div class="table-responsive">
                        <table id="inventoryTable" class="table table-striped" role="grid"
                            aria-describedby="datatable_info">
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>Transaction</th>
                                    <th>Ref No</th>
                                    <th>Qty</th>
                                    <th>Date Time</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--End Inventory Modal-->

<div id="actualCountModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Edit Actual Count: <label id="item_id"></label></h4>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Username">
                                    Item Code
                                </label>
                                <input type="text" class="form-control" required id="item_code" name="item_code" readonly>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Username">
                                    Current Stocks
                                </label>
                                <input type="number" class="form-control" id="stocks" name="stocks" readonly>
                            </div>
                        </div>
                       
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Username">
                                    Actual Stocks
                                </label>
                                <input type="number" class="form-control" required id="actual_stocks" name="actual_stocks">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Username">
                                    Reason for Editing
                                </label>
                                <input type="text" class="form-control" required id="reason" name="reason">
                            </div>
                        </div>
       
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary waves-effect waves-light" onclick="saveActualCount()">Save
                        Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>