<div class="row">
  <!-- <h3 class="box-title">
    <div class="col-md-2">
      <div class="btn-group dropdown">
        <button style="color:white;" aria-expanded="false" data-toggle="dropdown"
          class="btn bg-theme dropdown-toggle waves-effect waves-light" type="button">Menu&nbsp;<span
            class="caret"></span></button>
        <ul role="menu" class="dropdown-menu animated">
          <li><a href="#" onclick="viewPending()">View Pending </a></li>
          <li><a href="#" onclick="viewApproved()">View Approved</a></li>
          <li><a href="#" onclick="viewReceived()">View Received</a></li>
          <li><a href="#" onclick="viewRejected()">View Rejected</a></li>
          <li><a href="#" onclick="viewAll()">View All </a></li>
        </ul>
      </div>
    </div>
  </h3>
  <br /><br /> -->
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="table-responsive">
      <table id="datatable" class="table table-striped" role="grid" aria-describedby="datatable_info">
        <thead>
          <tr>
            <th>ID</th>
            <th>ORDER REF NO</th>
            <th>FRANCHISEE</th>
            <th>TOTAL AMOUNT</th>
            <th>STATUS</th>
            <th>ORDERED BY</th>
            <th>DATE</th>
            <th>DUE DATE</th>
            <th>REMARKS</th>
            <th>VIEW</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</div>

<!-- /.modal -->
<div id="poModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  style="display: none;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form id="poForm">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Order Reference Number: <label id="order_ref_no"></label></h4>
        </div>
        <div class="modal-body">
          <!--Hidden Inputs-->
          <div class="form-group has-feedback">
            <input type="hidden" class="form-control" required name="modifyId" value="">
          </div>
          <div class="form-group has-feedback">
            <input type="hidden" class="form-control" required name="formAction" value="add">
          </div>
          <div class="form-group has-feedback">
            <input type="hidden" class="form-control" required name="purchase_order_id">
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
                <table id="poItemsTable" class="table table-striped" role="grid" aria-describedby="datatable_info">
                  <caption>Items you ordered</caption>
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Product</th>
                      <th>Qty</th>
                      <th>Price</th>
                      <th>Total Amount</th>
                    </tr>
                  </thead>
                  <tbody></tbody>
                </table>
              </div>
              <h4 style="text-align: right;">Delivery Charge : <label id="delivery_charge"></label></h4>
              <h3 style="text-align: right;">Overall Total Amount : <label id="overall_total_amount"></label></h3>
              <div class="form-group col-md-6">
                <label for="branch_name">Discount Voucher</label>
                <div class="input-group">
                  <div class="input-group-addon"><i class="ti-money"></i></div>
                  <container id="discount_voucher"></container>
                </div>
              </div>

              <div class="form-group col-md-6">
                <label for="branch_name">Discount Amount <small><i>Input actual amount</i></small></label>
                <div class="input-group">
                  <div class="input-group-addon"><i class="ti-money"></i></div>
                  <container id="discount_amount"></container>
                </div>
              </div>

              <div class="form-group col-md-12">
                <label for="branch_name">Remarks</label>
                <textarea class="form-control" id="remarks"></textarea>
              </div>
              <div class="col-md-12">
                <div class="button-box pull-right">
                  <div class="btn-group m-r-10">
                    <button aria-expanded="false" data-toggle="dropdown"
                      class="btn btn-primary dropdown-toggle waves-effect waves-light" type="button">Print Options <span
                        class="caret"></span></button>
                    <ul role="menu" class="dropdown-menu">
                      <li><a onclick="printDR()">Delivery Receipt</a></li>
                      <li><a onclick="printSI()">Sales Invoice</a></li>
                      <!-- <li class="divider"></li>
                      <li><a onclick="printCR()">Collection Receipt</a></li>
                      <li><a onclick="printAR()">Acknowledgement Receipt</a></li>
                      <li><a onclick="printOR()">Official Receipt</a></li> -->
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger waves-effect" style="float:left;" onclick="cancelOrder()"
            id="cancelButton">Cancel
            Order</button>
          <!-- <button type="button" class="btn btn-success waves-effect" onclick="printDR()" id="printDrButton">Print
              DR</button> -->
          <button type="button" class="btn btn-info waves-effect" onclick="approveOrder()" id="approveButton">Approve
            Order</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Button trigger modal -->