<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">Reports
        <div class="panel-action">
          <div class="dropdown"> <a class="dropdown-toggle" id="examplePanelDropdown" data-toggle="dropdown" href="#"
              aria-expanded="false" role="button">Choose <span class="caret"></span></a>
            <ul class="dropdown-menu bullet dropdown-menu-right" aria-labelledby="examplePanelDropdown" role="menu">
              <li role="presentation"><a onclick="statementOfAccount()" role="menuitem"><i class="icon wb-reply"
                    aria-hidden="true"></i> Statement of Account</a></li>
              <li role="presentation"><a onclick="sales()" role="menuitem"><i class="icon wb-reply"
                    aria-hidden="true"></i> Sales Report</a></li>
              <li role="presentation"><a onclick="returnGoods()" role="menuitem"><i class="icon wb-reply"
                    aria-hidden="true"></i> Return Goods</a></li>
              <li role="presentation"><a onclick="viewPayrollForm()" role="menuitem"><i class="icon wb-reply"
                    aria-hidden="true"></i> Payroll</a></li>
              <li role="presentation"><a onclick="viewPurchaseOrder()" role="menuitem"><i class="icon wb-share"
                    aria-hidden="true"></i> Purchase Order</a></li>
              <li role="presentation"><a onclick="viewBilling()" role="menuitem"><i class="icon wb-trash"
                    aria-hidden="true"></i> Billing and Franchising</a></li>
              <li role="presentation"><a onclick="viewOrders()" role="menuitem"><i class="icon wb-settings"
                    aria-hidden="true"></i> Franchise Orders</a></li>
              <li role="presentation"><a onclick="viewExpenses()" role="menuitem"><i class="icon wb-settings"
                    aria-hidden="true"></i> Expenses Summary</a></li>
              <li role="presentation"><a onclick="viewExpensesDetailed()" role="menuitem"><i class="icon wb-settings"
                aria-hidden="true"></i> Detailed Expenses</a></li>
              <li role="presentation"><a onclick="viewFranchise()" role="menuitem"><i class="icon wb-settings"
                    aria-hidden="true"></i> Franchise Renewal Logs</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel-wrapper collapse in">
        <div class="panel-body">

          <div id="content">
            <h3 id="no_content">Please choose for reports</h3>

            <div id="daterange" style="display: none;">
              <div class="form-group">
                <label for="Username">
                  Date From
                </label>
                <input type="date" class="form-control" required id="date_from" name="date_from">
              </div>
              <div class="form-group">
                <label for="Username">
                  Date To
                </label>
                <input type="date" class="form-control" required id="date_to" name="date_to">
              </div>
            </div>

            <div id="franchisee" style="display: none;">
              <div class="form-group" id="branch_div">
                <label class="control-label">Branch</label>
                <select id="branch_id" class="form-control" name="branch_id" onclick="filterByBranch(this.value)">
                </select>
              </div>

              <div class="form-group">
                <label class="control-label">Franchisee Owner</label>
                <select id="franchisee_id" class="form-control" name="franchisee_id">
                </select>
              </div>
            </div>

            <div id="purchase_order" style="display: none;">
              <div class="form-group" id="supplier_div">
                <label class="control-label">Supplier</label>
                <select class="form-control" name="supplier_id" id="supplier_id">
                </select>
              </div>

              <div class="form-group">
                <label class="control-label">Products</label>
                <select class="form-control" id="product_id" name="product_id">
                </select>
              </div>
            </div>

            <div id="sales" style="display: none;">
              <div class="form-group">
                <label class="control-label">Sales Report Category</label>
                <select class="form-control" name="category" id="category" onchange="salesCategory(this.value)">
                  <option value="1">Per Branch</option>
                  <option value="2">Per Franchisee with Invoices</option>
                  <option value="3">Per Batch No Distribution</option>
                  <option value="4">Delivery Fee</option>
                  <option value="5">Per Product</option>
                </select>
              </div>
            </div>

            <div id="returns" style="display: none;">
              <div class="form-group">
                <label class="control-label">Item Condition</label>
                <select class="form-control" name="item_condition" id="item_condition">
                  <option>REPLACED</option>
                  <option>DISPOSED</option>
                </select>
              </div>
            </div>

          </div>
        </div>
        <div class="panel-footer">
          <button class="btn btn-primary" type="button" onclick="preview()">PREVIEW</button>
          <button class="btn btn-success" type="button" onclick="printReport('reports-content')"
            style="float:right">PRINT</button>
        </div>

      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div id="reports-content">

      <table border="1" style="width: 100%;" cellpadding="5px">
        <caption>
          <img src="plugins/images/thp-logo-100px.png" align="right" HSPACE=”50” VSPACE=”50”>
          <span id="caption">Generated Report</span>
        </caption>
        <thead id="thead">
        </thead>
        <tbody id="tbody">
        </tbody>
      </table>
      <br />
      <div id="others" style="float:right">
      </div>
    </div>

  </div>

</div>