<div class="row">
  <h3 class="box-title">
    <div class="col-md-2">
      <button class="btn btn-block bg-theme waves-effect waves-light" id="addModal" style="color:white;">
        <i class="fa fa-plus m-r-5"></i> Add Sub - Category
      </button>
    </div>

    <br /><br />
  </h3>
  <div class="table-responsive">
    <table id="datatable" class="table table-striped" role="grid" aria-describedby="datatable_info">
      <thead>
        <tr>
          <th>ID</th>
          <th>Category Name</th>
          <th>Sub - Category Name</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>

</div>

<!-- /.modal -->
<div id="formModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Form</h4>
        </div>
        <div class="modal-body">
          <!--Hidden Inputs-->
          <div class="form-group has-feedback">
            <input type="hidden" class="form-control" required name="modifyId" value="">
          </div>
          <div class="form-group has-feedback">
            <input type="hidden" class="form-control" required name="formAction" value="add">
          </div>
          <!--Hidden Inputs-->

            <!-- Expense Type -->
            <div class="form-group">
              <label for="category_id">Category Name</label>
              <div class="input-group">
                <div class="input-group-addon"></div>
                <select class="form-control expense_type" id="category_id" required name="category_id">
                </select>
              </div>
            </div>
          <div class="form-group">
            <label for="sub_category_name">Sub - Category Name</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-text"></i></div>
              <input type="text" class="form-control" required name="sub_category_name">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-danger waves-effect waves-light" id="deleteButton">Delete</button>
            <button type="submit" class="btn btn-primary waves-effect waves-light">Save
              Changes</button>
          </div>
      </form>
    </div>
  </div>
</div>
<!-- Button trigger modal -->