<div class="row">
  <h3 class="box-title">
    <div class="col-md-12">
      <button type="button" class="btn btn-primary" onclick="checkout()"><i class="fa fa-shopping-cart m-r-5"></i>
        Checkout Your Order Here (<count id="count">0</count>)</button>
    </div>
  </h3>
  <br /><br />

  <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
    <table id="datatable" class="table">
      <caption>
        <h5>Place your order here</h5>
      </caption>
      <thead>
        <tr>
          <th>ITEM</th>
          <th>DESCRIPTION</th>
          <th>ACTION</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>

<div id="checkoutModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  style="display: none;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Checkout Order</h4>
        </div>
        <div class="modal-body">

          <div class="col-md-12">
            <div class="col-md-6">
              <div class="form-group">
                <label for="branch_name">Franchise Name</label>
                <div class="input-group">
                  <div class="input-group-addon"><i class="ti-user"></i></div>
                  <select class="form-control" required name="franchise_id" id="franchise_id"><!--onchange="lookIfEmployeeHasSpecialPrice(this.value)"-->
                  </select>
                </div>
              </div>
            </div>


            <div class="col-md-6">
              <div class="form-group">
                <label for="branch_name">Mode of Transaction</label>
                <div class="input-group">
                  <div class="input-group-addon"><i class="ti-user"></i></div>
                  <select class="form-control" required name="mode_of_transaction" id="mode_of_transaction">
                    <option>Delivery</option>
                    <option>Pick-up</option>
                  </select>
                </div>
              </div>
            </div>
            

            <div class="col-md-12">
              <div class="table-responsive">
                <table class="table table-striped">
                  <caption id="caption"></caption>
                  <thead>
                    <tr>
                      <th>ITEM</th>
                      <th>PRICE</th>
                      <th>QTY</th>
                      <th>TOTAL AMOUNT</th>
                    </tr>
                  </thead>
                  <tbody id="checkoutTableBody"></tbody>
                </table>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="branch_name">Discount Voucher</label>
                <div class="input-group">
                  <div class="input-group-addon"><i class="ti-money"></i></div>
                  <input type="text" class="form-control" name="discount_voucher" id="discount_voucher">
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="branch_name">Discount Amount <small><i>Input actual amount</i></small></label>
                <div class="input-group">
                  <div class="input-group-addon"><i class="ti-money"></i></div>
                  <input type="number" style="text-align: right;" class="form-control" name="discount_amount"
                    id="discount_amount" onkeyup="calculateOverAllTotal()">
                </div>
              </div>
            </div>


            <h3 style="text-align: right;">Overall Total Amount : <label id="overall_total_amount"></label></h3>
          </div>

          <!-- <button type="button" class="btn btn-danger waves-effect waves-light" onclick="placeOrder(true)">Dispose Items</button> -->

          <button type="button" class="btn btn-primary waves-effect waves-light" onclick="placeOrder()">Place
            Order</button>

        </div>

      </form>
    </div>
  </div>
</div>