<div class="row">
  <h3 class="box-title">
    <div class="col-md-3">
      <button class="btn btn-block bg-theme waves-effect waves-light" id="addModal" style="color:white;">
        <i class="fa fa-plus m-r-5"></i> Add Franchise Account
      </button>
    </div>

    <br /><br />
  </h3>
  <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
    <table id="datatable" class="table table-striped" role="grid" aria-describedby="datatable_info">
      <thead>
        <tr>
          <th>ID</th>
          <th>Franchisee Owner</th>
          <th>Name</th>
          <th>Email</th>
          <th>Username</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>

<!-- /.modal -->
<div id="formModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Form</h4>
        </div>
        <div class="modal-body">
          <!--Hidden Inputs-->
          <div class="form-group has-feedback">
            <input type="hidden" class="form-control" required name="modifyId" value="">
          </div>
          <div class="form-group has-feedback">
            <input type="hidden" class="form-control" required name="formAction" value="add">
          </div>
          <!--Hidden Inputs-->

          <!--Franchisee Owner -->
          <div class="form-group">
              <label class="control-label">Franchisee Owner</label>
              <select id="franchisee_id" class="form-control" name="franchisee_id">
              </select>
          </div>
          <!-- First Name -->
          <div class="form-group">
            <label for="first_name">First Name</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-user"></i></div>
              <input type="text" class="form-control" required name="first_name">
            </div>
          </div>
          <!-- Middle Name -->
          <div class="form-group">
            <label for="middle_name">Middle Name</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-user"></i></div>
              <input type="text" class="form-control" required name="middle_name">
            </div>
          </div>
          <!-- Last Name -->
          <div class="form-group">
            <label for="last_name">Last Name</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-user"></i></div>
              <input type="text" class="form-control" required name="last_name">
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-email"></i></div>
              <input type="text" class="form-control" required name="email">
            </div>
          </div>
          <div class="form-group">
            <label for="Username">Username</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-user"></i></div>
              <input type="text" class="form-control" required name="username">
            </div>
          </div>
          <!-- <div class="form-group">
            <label for="exampleInputpwd1">Password</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-lock"></i></div>
              <input type="password" class="form-control" required name="password">
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputpwd2">Confirm Password</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-lock"></i></div>
              <input type="password" class="form-control" required name="confirm_password">
            </div>
          </div> -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger waves-effect waves-light" id="deleteButton">Delete</button>
          <button type="submit" class="btn btn-primary waves-effect waves-light">Save
            Changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Button trigger modal -->