<div class="row">
  <h3 class="box-title">
    <div class="col-md-2">
      <div class="btn-group dropdown">
        <button aria-expanded="false" data-toggle="dropdown"
          class="btn bg-theme dropdown-toggle waves-effect waves-light" type="button" style="color:white;">Menu&nbsp;<span
            class="caret"></span></button>
        <ul role="menu" class="dropdown-menu animated">
          <li><a href="#" id="addModal">Add Attendance Log</a></li>
          <li><a href="#" id="viewModal">View By</a></li>
        </ul>
      </div>
    </div>

    <br /><br />
  </h3>
  <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
    <table id="datatable" class="table table-striped" role="grid" aria-describedby="datatable_info">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>WorkDate</th>
          <th>Legend</th>
          <th>Total MIN</th>
          <th>REG Legal OT</th>
          <th>SPC OT</th>
          <th>SPC HOL</th>
          <th>LEG HOL</th>
          <th>Total HRS</th>
          <th>Added By</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>

<!-- /.modal -->
<div id="formModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Attendance Form</h4>
        </div>
        <div class="modal-body">
          <!--Hidden Inputs-->
          <div class="form-group has-feedback">
            <input type="hidden" class="form-control" required name="modifyId" value="">
          </div>
          <div class="form-group has-feedback">
            <input type="hidden" class="form-control" required name="formAction" value="add">
          </div>
          <!--Hidden Inputs-->

          <div class="form-group">
            <label for="first_name">Employee</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-user"></i></div>
              <select class="form-control" required name="emp_id" id="emp_id">
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="first_name">Legend</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-user"></i></div>
              <select class="form-control" required name="legend">
                <option>PRESENT</option>
                <option>DAY-OFF</option>
                <option>ABSENT</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="middle_name">Work Date</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-calendar"></i></div>
              <input type="date" class="form-control" required name="work_date" onchange="resetTime()">
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="last_name">Total Minutes</label>
                <div class="input-group">
                  <div class="input-group-addon"><i class="ti-time"></i></div>
                  <input type="number" class="form-control" required name="total_minutes" value="0">
                </div>
              </div>
            </div>


            <div class="col-md-6">
              <div class="form-group">
                <label for="last_name">Regular Legal OT Minutes</label>
                <div class="input-group">
                  <div class="input-group-addon"><i class="ti-time"></i></div>
                  <input type="number" class="form-control" required name="regular_legal_ot" value="0">
                </div>
              </div>
            </div>


            <div class="col-md-6">
              <div class="form-group">
                <label for="last_name">Special OT</label>
                <div class="input-group">
                  <div class="input-group-addon"><i class="ti-time"></i></div>
                  <input type="number" class="form-control" required name="special_ot" value="0">
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="last_name">Special Holiday</label>
                <div class="input-group">
                  <div class="input-group-addon"><i class="ti-time"></i></div>
                  <input type="number" class="form-control" required name="special_holiday" value="0">
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="last_name">Legal Holiday</label>
                <div class="input-group">
                  <div class="input-group-addon"><i class="ti-time"></i></div>
                  <input type="number" class="form-control" required name="legal_holiday" value="0">
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger waves-effect waves-light" id="deleteButton">Delete</button>
          <button type="submit" class="btn btn-primary waves-effect waves-light">Save
            Changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Button trigger modal -->


<!-- /. View By Modal-->
<div id="viewFormModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Filter Employee</h4>
        </div>
        <div class="modal-body">
          <!--Hidden Inputs-->
          <div class="form-group has-feedback">
            <input type="hidden" class="form-control" required name="modifyId" value="">
          </div>
          <div class="form-group has-feedback">
            <input type="hidden" class="form-control" required name="formAction" value="filter">
          </div>
          <!--Hidden Inputs-->
       
          <div class="form-group">
            <label for="first_name">Employee</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-user"></i></div>
              <select class="form-control" required name="emp_id_filter" id="emp_id_filter">
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="middle_name">From: </label>
                <div class="input-group">
                  <div class="input-group-addon"><i class="ti-calendar"></i></div>
                  <input type="date" class="form-control" required name="startDate">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="middle_name">To: </label>
                <div class="input-group">
                  <div class="input-group-addon"><i class="ti-calendar"></i></div>
                  <input type="date" class="form-control" required name="endDate">
                </div>
              </div>
            </div>
          </div>      
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary waves-effect waves-light" onclick="filterData()">Filter</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Button trigger modal -->