<div class="row">
  <h3 class="box-title">
    <div class="col-md-2">
      <div class="btn-group dropdown">
        <button style="color:white;" aria-expanded="false" data-toggle="dropdown"
          class="btn bg-theme dropdown-toggle waves-effect waves-light" type="button">Menu&nbsp;<span
            class="caret"></span></button>
        <ul role="menu" class="dropdown-menu animated">
          <li><a href="#" id="addModal">Add Payroll</a></li>       
          <li><a href="#" onclick="viewPending()">View Pending </a></li>
          <li><a href="#" onclick="viewApproved()">View Approved</a></li>
          <li><a href="#" onclick="viewRejected()">View Rejected</a></li>
          <li><a href="#" onclick="viewAll()">View All </a></li>
        </ul>
      </div>
    </div>
  </h3>
  <br /><br />

  <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
    <table id="datatable" class="table table-striped" role="grid" aria-describedby="datatable_info">
      <thead>
        <tr>
          <th>ID</th>
          <th>Payroll No</th>
          <th>Cut-off Date</th>
          <th>Release Date</th>
          <th>Total Amount</th>
          <th>Prepared By</th>
          <th>Status</th>
          <th>File</th>
          <th>Remarks</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>

<!-- /.modal -->
<div id="formModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Form</h4>
        </div>
        <div class="modal-body">
          <!--Hidden Inputs-->
          <div class="form-group has-feedback">
            <input type="hidden" class="form-control" required name="modifyId" value="">
          </div>
          <div class="form-group has-feedback">
            <input type="hidden" class="form-control" required name="formAction" value="add">
          </div>
          <!--Hidden Inputs-->

          <div class="form-group">
            <label for="first_name">Cut-off Date</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-calendar"></i></div>
              <input type="date" class="form-control" required name="cut_off_date">
            </div>
          </div>

          <div class="form-group">
            <label for="middle_name">Release Date</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-calendar"></i></div>
              <input type="date" class="form-control" name="release_date">
            </div>
          </div>

          <div class="form-group">
            <label for="middle_name">Total Amount</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-money"></i></div>
              <input type="number" class="form-control" name="total_amount">
            </div>
          </div>

          <div class="form-group">
            <label for="branch_name">Payroll File</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-money"></i></div>
              <input type="file" class="form-control" name="image_file" id="image_file">
            </div>
          </div>

          <div class="form-group">
            <label for="middle_name">Remarks</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-user"></i></div>
              <input type="text" class="form-control" name="remarks">
            </div>
          </div>

          <div class="form-group">
            <label for="Username">Status</label>
            <select class="form-control" required name="status">
              <option style="color: blue">PENDING</option>
              <option style="color: green">APPROVED</option>
              <option style="color: red">REJECTED</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger waves-effect waves-light" id="deleteButton">Delete</button>
          <button type="submit" class="btn btn-primary waves-effect waves-light">Save
            Changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Button trigger modal -->


<!-- /.modal -->
<div id="employeePayrollModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-lg" style="width: 100%;">
    <div class="modal-content">
      <form id="empPayrollForm">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Add Employee Payroll</h4>
        </div>
        <div class="modal-body">
          <!--Hidden Inputs-->
          <div class="form-group has-feedback">
            <input type="hidden" class="form-control" required name="modifyId" value="">
          </div>
          <div class="form-group has-feedback">
            <input type="hidden" class="form-control" required name="formAction" value="add">
          </div>
          <div class="form-group has-feedback">
            <input type="hidden" class="form-control" required name="payroll_id" id="payroll_id" value="">
          </div>
          <!--Hidden Inputs-->

          <div class="row">

            <div class="col-md-6">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="Username">Employee Name</label>
                  <select class="form-control" required name="emp_id" id="emp_id"
                    onchange="viewEmployeeWithAttendance(this.value)">
                  </select>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="Username">Position</label>
                  <input type="text" class="form-control" readonly required name="position" id="position" />
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <label for="Username">Monthly Rate</label>
                  <input type="text" class="form-control" readonly required name="employee_rate" id="employee_rate" />
                </div>
              </div>

              <!--
              <div class="col-md-12">
                <table border="1" style="width: 100%;">
                  <caption>Overall Total Attendance Logs from <label id="cut_off">Date</label> to <label
                      id="release">Date</label></caption>
                  <thead>
                    <tr>
                      <th style="text-align: center;">Total Reg Min</th>
                      <th style="text-align: center;">Leg Hol OT</th>
                      <th style="text-align: center;">Leg Hol</th>
                      <th style="text-align: center;">Spc Hol OT</th>
                      <th style="text-align: center;">Spc Hol</th>
                      <th style="text-align: center;">Total Hr</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td style="text-align: center;" id="total_reg_min">0</td>
                      <td style="text-align: center;" id="leg_hol_ot">0</td>
                      <td style="text-align: center;" id="leg_hol">0</td>
                      <td style="text-align: center;" id="spc_hol_ot">0</td>
                      <td style="text-align: center;" id="spc_hol">0</td>
                      <td style="text-align: center;" id="total_hr">0</td>
                    </tr>
                  </tbody>
                </table>

                <hr />
              </div>-->

              <div class="col-md-3">
                <div class="form-group">
                  <label for="Username">Semi Monthly</label>
                  <input type="number" class="form-control" required name="semi_monthly" id="semi_monthly" />
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <label for="Username">Daily Rate</label>
                  <input type="number" class="form-control" required name="daily_rate" id="daily_rate" />
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <label for="Username">Hourly Rate</label>
                  <input type="number" class="form-control" required name="hourly_rate" id="hourly_rate" />
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <label for="Username">Allowance</label>
                  <input type="number" class="form-control" required name="allowance" id="allowance" />
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <label for="Username">Load Allowance</label>
                  <input type="number" class="form-control" required name="load_allowance" id="load_allowance" />
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <label for="Username">Days of work</label>
                  <input type="number" class="form-control" required name="days_of_work" id="days_of_work" />
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <label for="Username">Basic Rate</label>
                  <input type="number" class="form-control" required name="base_rate" id="base_rate" />
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <label for="Username">OT Reg Day</label>
                  <input type="number" class="form-control" required name="ot_reg_day" id="ot_reg_day" />
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="Username">OT Reg Pay</label>
                  <input type="number" class="form-control" required name="ot_reg_pay" id="ot_reg_pay" />
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <label for="Username">OT SPCL Day</label>
                  <input type="number" class="form-control" required name="ot_spcl_day" id="ot_spcl_day" />
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="Username">OT SPCL Pay</label>
                  <input type="number" class="form-control" required name="ot_spcl_pay" id="ot_spcl_pay" />
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <label for="Username">Rest Min</label>
                  <input type="number" class="form-control" required name="rest_min" id="rest_min" />
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="Username">Rest Pay</label>
                  <input type="number" class="form-control" required name="rest_pay" id="rest_pay" />
                </div>
              </div>


              <div class="col-md-3">
                <div class="form-group">
                  <label for="Username">Legal Hol Min</label>
                  <input type="number" class="form-control" required name="legal_hol_min" id="legal_hol_min" />
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="Username">Rd Prem</label>
                  <input type="number" class="form-control" required name="rd_prem" id="rd_prem" />
                </div>
              </div>


              <div class="col-md-3">
                <div class="form-group">
                  <label for="Username">Legal Hol</label>
                  <input type="number" class="form-control" required name="legal_hol" id="legal_hol" />
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="Username">Legal Pay</label>
                  <input type="number" class="form-control" required name="legal_pay" id="legal_pay" />
                </div>
              </div>


              <div class="col-md-3">
                <div class="form-group">
                  <label for="Username">Special Holiday</label>
                  <input type="number" class="form-control" required name="special_holiday" id="special_holiday" />
                </div>
              </div>


              <div class="col-md-3">
                <div class="form-group">
                  <label for="Username">Special Holiday Pay</label>
                  <input type="number" class="form-control" required name="special_holiday_pay"
                    id="special_holiday_pay" />
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <label for="Username">NSD Hours</label>
                  <input type="number" class="form-control" required name="nsd_hours" id="nsd_hours" />
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="Username">NSD Pay</label>
                  <input type="number" class="form-control" required name="nsd_pay" id="nsd_pay" />
                </div>
              </div>

              <center>DEDUCTIONS</center>
              <br />

              <div class="col-md-3">
                <div class="form-group">
                  <label for="Username">SSS</label>
                  <input type="number" class="form-control" required name="sss" id="sss" />
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <label for="Username">PAG-IBIG</label>
                  <input type="number" class="form-control" required name="pag_ibig" id="pag_ibig" />
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <label for="Username">PhilHealth</label>
                  <input type="number" class="form-control" required name="philhealth" id="philhealth" />
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <label for="Username">Lates</label>
                  <input type="number" class="form-control" required name="lates" id="lates" />
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <label for="Username">Lates Deduction</label>
                  <input type="number" class="form-control" required name="late_deduction" id="late_deduction" />
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <label for="Username">Absent</label>
                  <input type="number" class="form-control" required name="absent" id="absent" />
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <label for="Username">Absent Deduction</label>
                  <input type="number" class="form-control" required name="absent_deduction" id="absent_deduction" />
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <label for="Username">Tax Deduct</label>
                  <input type="number" class="form-control" required name="tax_deduct" id="tax_deduct" />
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <label for="Username">SSS Loan</label>
                  <input type="number" class="form-control" required name="sss_loan" id="sss_loan" />
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <label for="Username">PAG-IBIG Loan</label>
                  <input type="number" class="form-control" required name="pag_ibig_loan" id="pag_ibig_loan" />
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <label for="Username">Cash Advance</label>
                  <input type="number" class="form-control" required name="cash_advance" id="cash_advance" />
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <label for="Username">Short Remittance</label>
                  <input type="number" class="form-control" required name="short_remittance" id="short_remittance" />
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="Username">Gross Pay</label>
                  <input type="number" class="form-control" required readonly name="gross_pay" id="gross_pay" />
                </div>

                <div class="form-group">
                  <label for="Username">Total Deductions</label>
                  <input type="number" class="form-control" required readonly name="total_deductions"
                    id="total_deductions" />
                </div>

                <div class="form-group">
                  <label for="Username">Net Pay</label>
                  <input type="number" class="form-control" required readonly name="net_pay" id="net_pay" />
                </div>
              </div>

              <div class="col-md-12">
                <center>
                  <button type="button" class="btn btn-primary waves-effect waves-light"
                    onclick="compute('compute')">Compute Payroll</button>&emsp;
                  <button type="button" class="btn btn-danger waves-effect waves-light" onclick="compute('save')">Save
                    Employee Payroll</button>&emsp;
                </center>
              </div>
      </form>
    </div>

    <div class="col-md-6">
      <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
        <table id="payrollEmpTable" class="table table-striped" role="grid" aria-describedby="datatable_info">
          <caption>Employees added to this payroll</caption>
          <thead>
            <tr>
              <th>ID</th>
              <th>Employee</th>
              <th>Gross Pay</th>
              <th>Deduction</th>
              <th>Net Pay</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>

    </div>
  </div>
</div>
</div>
</div>
</div>
<!-- Button trigger modal -->